*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dc: #5865f2;
  --color-ig: #e1306c;
  --color-bg: #00000099;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Jost', sans-serif;
  color: white;
  background-color: #24202a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;  
}

.profile-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-img {
  width: 200px;
  max-width: 50vw;
  border-radius: 50%;
}

.profile-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 0.6rem 3rem;
  border-radius: 50px;
  font-size: 20px;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-dc {
  background-color: var(--color-dc);
}

.btn-dc:hover {
  background-color: white;
  color: var(--color-dc);
  transform: scale(1.05);
}

.btn-ig {
  background-color: var(--color-ig);
}

.btn-ig:hover {
  background-color: white;
  color: var(--color-ig);
  transform: scale(1.05);
}

.btn-gh {
  background-color: black;
}

.btn-gh:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

@media (max-width: 760px) {
  body {

  }

  .btn-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .btn {
    width: 75vw;
    justify-content: center;
  }

  .profile-img {
    width: 175px;
  }

  .profile-name {
    font-size: 20px;
  }
}
